html {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  background-color: #002b36;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
	color: white;
	position: relative;
	left: -30px;
	margin: 0 0 5px 0;
	font-family: 'Product Sans', Arial, sans-serif;
	font-size: 60px;
}

.counter {
	color: white;
	font-size: 16px;
	font-family: 'Product Sans', Arial, sans-serif;
	left: 210px;
	top: 10px;
	position: absolute;
}

.yo {
	cursor: pointer;
	transition: color 0.1s linear;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.funcs {
	color: #91f3ff;
	font-weight: 600;
	font-size: 19px;
}

@media only screen and (max-width: 1160px) {
	.header {
		left: 10px;
	}
}

.lumboard span{
	 color: #dc322f;
}

.peace span{
	margin: 0 0 5px 0;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 960px;
	margin: 20px auto 70px auto;
}

h1 {
	margin: 0;
}

.description {
	margin: 0 0 0 10px;
	width: 100%;
}

pre {
	margin: 0;
	padding: 0;
}

code {
	white-space: pre-wrap;
}

.java {
	font-size: 17px;
}

.json {
	font-size: 16px;
}

a span {
	color: #dc322f !important;
}

a {
	color: #dc322f !important;
	text-decoration: none;
	text-align: justify-all;
}

.links {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.nobold {
	font-weight: normal;
}

.first-g span {
	font-family: 'Product Sans', Arial, sans-serif;
	color: #4885ed !important;
}

.second-g span {
	font-family: 'Product Sans', Arial, sans-serif;
	color: #4885ed !important;
}

.first-o span {
	font-family: 'Product Sans', Arial, sans-serif;
	color: #db3236 !important;
}

.second-o span {
	font-family: 'Product Sans', Arial, sans-serif;
	color: #f4c20d !important;
}

.l span {
	font-family: 'Product Sans', Arial, sans-serif;
	color: #3cba54 !important;
}

.e span {
	font-family: 'Product Sans', Arial, sans-serif;
	color: #db3236 !important;
}
